.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
}

.task-item {
  background-color: #ffb703;
  width: 875px;
  height: 60px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  background-color: #d62828;
}

.btn-danger:hover {
  background-color: #ab2020;
}
.btn-success {
  background-color: #548c2f;
}

.btn-success:hover {
  background-color: #437026;
}

img {
  height: 20px;
  width: 20px;
}
