<ul>
  <li *ngFor="let task of tasks; let index = index">
    <div class="flex-container task-item">
      <p>{{ task.name }}</p>
      <div class="buttons-container">
        <button
          class="btn-danger"
          (click)="onDelete(task)"
          [disabled]="editModeArr[index]"
        >
          <img src="assets/svg/trash.svg" alt="trash-icon" />
        </button>
        <button
          class="btn-success"
          (click)="onEdit(task, index)"
          [disabled]="editModeArr[index]"
        >
          <img src="assets/svg/pencil.svg" alt="pencil-icon" />
        </button>
      </div>
    </div>
    <div *ngIf="editModeArr[index]">
      <app-task-edit
        [selectedTask]="selectedTask"
        [index]="index"
        [editModeArr]="editModeArr"
        (onModeChange)="changeMode($event)"
      ></app-task-edit>
    </div>
  </li>
</ul>
