<div class="title">Your tasks</div>
<mat-card *ngFor="let task of notCompletedTasks" class="task-item">
  <div class="task-details">
    <p class="task-points" matTooltip="Points">{{ task.points }}</p>
    <p class="task-name">{{ task.name }}</p>
  </div>
  <mat-card-actions class="buttons-container">
    <button mat-mini-fab color="warn" (click)="onDelete(task)">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="onCheck(task)">
      <mat-icon>done</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<div class="title">Your completed tasks</div>
<mat-card *ngFor="let task of completedTasks" class="task-item completed">
  <div class="task-details">
    <p class="task-points" matTooltip="Points">{{ task.points }}</p>
    <p class="task-name">{{ task.name }}</p>
  </div>
</mat-card>
