<mat-card class="form-container">
  <mat-card-content>
    <form class="add-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <mat-form-field class="name-input">
        <mat-label>Create new task</mat-label>
        <input
          matInput
          type="text"
          name="name"
          ngModel
          required
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Select points</mat-label>
        <mat-select name="points" ngModel required>
          <mat-option *ngFor="let points of pointsOptions" [value]="points">
            {{ points }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-mini-fab
        color="accent"
        type="submit"
        [disabled]="!form.valid"
      >
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
