<div class="title">All tasks</div>
<mat-card *ngFor="let task of tasks; let index = index" class="task-item">
  <mat-card-content>
    <mat-card-header class="task-details">
      <div class="task-owner" *ngIf="task.hasOwner" matTooltip="Owner">
        <mat-icon>face</mat-icon>
      </div>
      <div class="task-points" matTooltip="Points">{{ task.points }}</div>
      <div class="task-name">{{ task.name }}</div>
    </mat-card-header>

    <mat-card-actions align="end" class="buttons-container">
      <button
        mat-mini-fab
        color="warn"
        class="btn-danger"
        (click)="onDelete(task)"
        [disabled]="editModeArr[index]"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button
        mat-mini-fab
        class="btn-success"
        (click)="onEdit(task, index)"
        [disabled]="editModeArr[index]"
      >
        <mat-icon>create</mat-icon>
      </button>
    </mat-card-actions>

    <div *ngIf="editModeArr[index]">
      <app-task-edit
        [selectedTask]="selectedTask"
        [index]="index"
        [editModeArr]="editModeArr"
        (onModeChange)="changeMode($event)"
      ></app-task-edit>
    </div>
  </mat-card-content>
</mat-card>

<div class="title">Completed tasks</div>
<mat-card *ngFor="let task of completedTasks" class="task-item completed">
  <mat-card-header class="task-details">
    <div class="task-owner" matTooltip="Owner">
      <mat-icon>face</mat-icon>
    </div>
    <p class="task-points" matTooltip="Points">{{ task.points }}</p>
    <p class="task-name">{{ task.name }}</p>
  </mat-card-header>
</mat-card>
