.title {
  margin: 40px 15px 15px 40px;
}

.task-item {
  margin: 30px 0 0 30px;
  max-width: 100%;
}

.task-details {
  gap: 10px;
}

.task-name {
  align-self: center;
}

.task-points {
  background-color: #ffb703;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-owner {
  background-color: dimgray;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  gap: 10px;
}

.completed {
  background-color: lightgreen;
}
