<form class="edit-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <mat-form-field class="rename-input">
    <mat-label>Rename your task</mat-label>
    <input matInput name="name" ngModel required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select points</mat-label>
    <select name="points" matNativeControl ngModel required>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>
  </mat-form-field>
  <button mat-mini-fab color="accent" type="submit" [disabled]="!form.valid">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-mini-fab type="button" (click)="onCancel()">
    <mat-icon>clear</mat-icon>
  </button>
</form>
