.title {
  margin-top: 30px;
}

.reservation-item {
  margin: 30px 30px 0 0;
  max-width: 100%;
}

.reservation-details {
  gap: 10px;
  align-items: center;
}

.res-minutes {
  background-color: #ffb703;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-container {
  gap: 10px;
}

.edit-form {
  display: flex;
  gap: 10px;
}
