.container {
  margin: 150px auto;
  width: 40%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.question {
  font-size: larger;
}

.buttons-container {
  gap: 30px;
}

a {
  text-decoration: none;
}
